.navbar {
    background-color: rgb(210, 247, 216);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.video-windows {
    align-content: center;
    align-self: center;
    
}